@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --red: #000;
}

@media (prefers-color-scheme: dark) {
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.glowBox {
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.5;
  box-shadow: 0 0 60px 30px #ffff00, 0 0 100px 60px #ffff00,
    0 0 140px 90px #ffff00;
}
